# Task 1:

1.Given a sequence of n values x1,x2,...,xn and a window size k>0,the k-th moving average of the given sequence is defined as follows:
    
The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

   i     1   2   3   4   5   6   7   8   9 10
   
=====  ==  ==  ==  ==  ==  ==  ==  ==  ==  ==

Input  10  20  30  40  50  60  70  80  90 100

y1       25 = (10+20+30+40)/4

y2         35 = (20+30+40+50)/4

y3             45 = (30+40+50+60)/4

y4                 55 = (40+50+60+70)/4

y5                     65 = (50+60+70+80)/4

y6                         75 = (60+70+80+90)/4

y7                             85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values

In [12]:
def mov_avg_seq(a,k):
    import numpy as np
    size=len(a)
    st=' '.join(str(x) for x in a)
    print("i ",st)
    print("-------------------------")
    for i in range(0,size-k+1):
        sum=0.0
        st=[]
        for j in range(i,i+k):
            sum=sum+a[j]
            st.append(str(a[j]))
        avg=sum/k
        st1=" + ".join(st)
        st1="("+st1+")"
        st1=st1+"/"+str(k)
        print("y",(i+1), " "*(i+1),'%.2f'%avg,"=",st1)

In [13]:
import numpy as np
a=np.array([10,20,30,40,50,60,70,80,90,100])
k=4
mov_avg_seq(a,k)

i  10 20 30 40 50 60 70 80 90 100
-------------------------
y 1   25.00 = (10 + 20 + 30 + 40)/4
y 2    35.00 = (20 + 30 + 40 + 50)/4
y 3     45.00 = (30 + 40 + 50 + 60)/4
y 4      55.00 = (40 + 50 + 60 + 70)/4
y 5       65.00 = (50 + 60 + 70 + 80)/4
y 6        75.00 = (60 + 70 + 80 + 90)/4
y 7         85.00 = (70 + 80 + 90 + 100)/4

In [14]:
a=np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
k=3
mov_avg_seq(a,k)

i  3 5 7 2 8 10 11 65 72 81 99 100 150
-------------------------
y 1   5.00 = (3 + 5 + 7)/3
y 2    4.67 = (5 + 7 + 2)/3
y 3     5.67 = (7 + 2 + 8)/3
y 4      6.67 = (2 + 8 + 10)/3
y 5       9.67 = (8 + 10 + 11)/3
y 6        28.67 = (10 + 11 + 65)/3
y 7         49.33 = (11 + 65 + 72)/3
y 8          72.67 = (65 + 72 + 81)/3
y 9           84.00 = (72 + 81 + 99)/3
y 10            93.33 = (81 + 99 + 100)/3
y 11             116.33 = (99 + 100 + 150)/3

# Task 2:

1.  
How-to-count-distance-to-the-previous-zero 

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer) 

create a new column 'Y' 

Consider a DataFrame df where there is an integer column 'X' 

import pandas as pd 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

In [4]:
import pandas as pd
r = []
s=pd.DataFrame([7,2,0,3,4,2,5,0,3,4], columns=['X'])
i=0
for element in s['X']:
    if element != 0:
        i += 1
    else:
        i = 0
    r.append(i)
s['Y']=r
s

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2.Create a DatetimeIndex that contains each businessday of 2015 and use it to index a Series of random numbers

In [5]:
import numpy as np
import pandas as pd
bd = pd.bdate_range('2015-01-01', '2015-12-31')
DatetimeIndex = pd.Series(np.random.randn(len(bd)), index=bd)
DatetimeIndex.head()

2015-01-01   -0.407457
2015-01-02   -0.374829
2015-01-05   -0.941192
2015-01-06    0.325382
2015-01-07   -0.295107
Freq: B, dtype: float64

3.Find the sum of the values in s for every Wednesday

In [6]:
from datetime import date
import calendar
wed_sum=0
for my_date in bd:
    if(calendar.day_name[my_date.weekday()]=='Wednesday'):
        wed_sum=wed_sum+DatetimeIndex[my_date]
        

print("sum of values of all wednesdats in a year 2015:",wed_sum)

sum of values of all wednesdats in a year 2015: 5.908549517679465

4.Average For each calendar month

In [7]:
DatetimeIndex.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.061289
2015-02-28   -0.221476
2015-03-31    0.215571
2015-04-30   -0.123367
2015-05-31   -0.014389
2015-06-30    0.049903
2015-07-31    0.211075
2015-08-31    0.035455
2015-09-30   -0.155056
2015-10-31   -0.185228
2015-11-30   -0.097911
2015-12-31   -0.026361
Freq: M, dtype: float64

5.For each group of four consecutive calendar months in s, find the date on which the highest
value occurred

In [8]:
print("highest value occured date between jan and Apr",DatetimeIndex['2015-01-01':'2015-04-30'].idxmax(),':',DatetimeIndex['2015-01-01':'2015-04-30'].max())
print("highest value occured date between may and aug",DatetimeIndex['2015-05-01':'2015-08-31'].idxmax(),':',DatetimeIndex['2015-05-01':'2015-08-31'].max())
print("highest value occured date between sep and dec",DatetimeIndex['2015-09-01':'2015-12-31'].idxmax(),':',DatetimeIndex['2015-09-01':'2015-12-31'].max())

highest value occured date between jan and Apr 2015-04-22 00:00:00 : 2.899595505158361
highest value occured date between may and aug 2015-05-01 00:00:00 : 2.104454706253069
highest value occured date between sep and dec 2015-12-01 00:00:00 : 1.8365517789827621